@CHARSET "UTF-8";

.footer {
	background-color: #404040;
	margin: 0px;
	padding-top: 2rem;
	padding-bottom: 5rem;
	text-align: center;
}

.footer h4 {
	font-size: 1.1rem;
	color: gray;
}

.footer p {
	font-size: 3rem;
	color: #fff;
	padding-bottom: 3rem;
}