@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

/* MENU CSS */
.menu-content {
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.home-menu-img-size {
	width: 100%;
	padding: 1rem;
}

.home-menu-img-size:hover {
	opacity: 0.9;
	cursor: pointer;
}

.home-menu-img {
	position: relative;
	margin: 0px;
	padding: 0px;
}

.home-menu-img-text {
	position: absolute;
	top: 35%;
	left: 33%;
	color: rgba(255, 255, 255, 0.9);
}

.home-menu-img-text h3 {
	font-size: 3rem;
	text-align: center;
}

/* Dev-Story CSS */
.dev-story-content{
	padding-top: 1rem;
	padding-bottom: 8rem;
	background-color: rgba(204, 235, 255, 0.3);
	margin-top: 2rem;
	margin-bottom: 3rem;
	border-radius: 2%;
}
.dev-story-bg{
	padding-top : 1rem;
	padding-bottom : 1rem;
	background-color: skyblue;
	margin: 0.5rem;
}
.dev-story-header{
	padding-top : 7rem;
	padding-bottom : 7rem;
	margin-right: 1rem;
	margin-left: 1rem;
	color: #fff;
	border: 0.3rem solid #fff;
	text-align: center;
}
.dev-story-comment{
	padding-top: 2.5rem;
	padding-left: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	color: #99d6ff;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 2rem;
}
.dev-story-comment h4{
	color: skyblue;
	font-size: 3rem;
}
.dev-story-img-border{
	display: inline-block;
	margin-top: 4rem;
}
.dev-story-img{
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
}